<div class="c-quick-quote c-quick-quote--modal">
  <h2 class="c-quick-quote__title"><%= quoteTitle %></h2>
  <input class="c-quick-quote__postal" id="qquote-postal" maxlength="5" value="Your Postal Code" type="text">
  <select class="c-quick-quote__niches" id="qquote-niches">
    <option value="/personal/auto-insurance">Auto Insurance</option>
    <option value="/personal/home-insurance">Home Insurance</option>
    <option value="/commercial-insurance">Commercial</option>
    <option value="/commercial/workers-compensation">Workers Compensation</option>
  </select>
  <input id="saveForm" class="c-quick-quote__button" type="submit" value="Get a Quote">
</div>
