<header class="o-banner js-banner u-hidden@print" role="banner">
  <div class="u-row" data-equalizer>
    <%- partial("_brand") %>
    <%- partial("../components/navigation/_navigation") %>
  </div>
</header>
