<% if(environment == "production") { %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/jQuery.headroom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
<% } else { %>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/jquery-migrate.js"></script>
  <script src="/js/vendor/fastclick.js" async></script>
  <script src="/js/vendor/foundation.js"></script>
  <script src="/js/vendor/headroom.js"></script>
  <script src="/js/vendor/jQuery.headroom.js"></script>
  <script src="/js/vendor/slick.js"></script>
<% } %>
<script src="/js/main.js" async></script>
<script src="/js/quotrr.js" async></script>

</body>
</html>
