<div class="o-brand" data-equalizer-watch>
  <a id="dnn_ctl00_ctl06_hypLogo" title="<%= title %>" href="/">
    <% if(environment !== "staging") { %>
      <img src="/images/logo@2x.png" alt="<%= title %>">
    <% } %>
    <% if(environment == "staging") { %>
      <dnn:Logo runat="server" />
    <% } %>
  </a>
</div>
