<li><a href="/">Home</a></li>
<li><a href="/personal">Personal</a></li>
<li class="has-dropdown has-submenu">
  <a href="/business">Business</a>
  <ul class="dropdown <% if(offcanvas == true) { %>left-submenu<% } %>">
    <li class="back"><a href="#">Back</a></li>
    <li class="<%= current.source=='auto-insurance'?'active':'' %>"><a href="/articles/auto-insurance">Auto Insurance</a></li>
    <li><a href="#">Active link in dropdown</a></li>
  </ul>
</li>

