<li><a href="#">Home</a></li>
<li><a href="#" class="off-canvas-submenu-call">Personal <span class="right"> + </span></a>
  <ul class="off-canvas-submenu">
    <li class="<%= current.source=='auto-insurance'?'active':'' %>"><a href="/articles/auto-insurance">Auto Insurance</a></li>
    <li class="<%= current.source=='boat-insurance'?'active':'' %>"><a href="#">Boat Insurance</a></li>
  </ul>
</li>
<li><a href="#" class="off-canvas-submenu-call">Business <span class="right"> + </span></a>
  <ul class="off-canvas-submenu">
    <li class="<%= current.source=='auto-insurance'?'active':'' %>"><a href="/articles/auto-insurance">Auto Insurance</a></li>
    <li><a href="#">Active link in dropdown</a></li>
  </ul>
</li>
<li><a href="#">Research Center</a></li>
<li><a href="#">Client Service</a></li>
<li><a href="#">Contact Us</a></li>

