<div class="quotrr WQcountryUSA">
  <div class="designation">
    <h1 style="font-size: 31px;">
      Free <%= city %> Auto Insurance Quote
    </h1>
  </div>
  <div class="dwn">
    <div class="locator step WQtypeSingle">
      <input name="txt_zip" type="text" maxlength="255" id="txt_zip" class="wq-input-field" placeholder="ZIP Code">
      <span class="trigger">
        <a id="WebQuoteControl_hyperlink_next" class="pusher">Find Quotes ►</a>
      </span>
    </div>

    <div class="surveyor step" style="display: none;">
      <div class="firstName field">
        <label for="WebQuoteControl_txt_NameFirst">First Name</label>
        <input name="WebQuoteControl$txt_NameFirst" type="text" maxlength="255" id="WebQuoteControl_txt_NameFirst" class="wq-input-field wq-input-required">
        <span id="WebQuoteControl_requiredfieldvalidator4" style="display:none;"></span>
      </div>
      <div class="lastName field">
        <label for="WebQuoteControl_txt_NameLast">Last Name</label>
        <input name="WebQuoteControl$txt_NameLast" type="text" maxlength="255" id="WebQuoteControl_txt_NameLast" class="wq-input-field wq-input-required">
        <span id="WebQuoteControl_requiredfieldvalidator8" style="display:none;"></span>
      </div>
      <div class="address field">
        <label for="txt_address1">Address</label>
        <input name="txt_address1" type="text" maxlength="255" id="txt_address1" class="wq-input-field inputStreet">
      </div>
      <div class="addressAdv field">
        <input name="txt_address2" type="text" maxlength="255" id="txt_address2" class="wq-input-field" placeholder="Apt.">
      </div>
      <div class="city field">
        <label for="txt_city">City</label>
        <input name="txt_city" type="text" maxlength="255" id="txt_city" class="wq-input-field inputCity">
      </div>
      <div class="state field">
        <label for="ddl_state">State</label>
        <select name="ddl_state" id="ddl_state" class="wq-input-field inputState">
          <option value="Choose">Choose</option>
          <option value="AA">AA</option>
          <option value="AE">AE</option>
          <option value="AK">AK</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AR">AR</option>
          <option value="AS">AS</option>
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DC">DC</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="FM">FM</option>
          <option value="GA">GA</option>
          <option value="GU">GU</option>
          <option value="HI">HI</option>
          <option value="IA">IA</option>
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MD">MD</option>
          <option value="ME">ME</option>
          <option value="MH">MH</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>
          <option value="MP">MP</option>
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="NC">NC</option>
          <option value="ND">ND</option>
          <option value="NE">NE</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="PR">PR</option>
          <option value="PW">PW</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VA">VA</option>
          <option value="VI">VI</option>
          <option value="VT">VT</option>
          <option value="WA">WA</option>
          <option value="WI">WI</option>
          <option value="WV">WV</option>
          <option value="WY">WY</option>
        </select>
      </div>
      <div class="email field">
        <label for="txt_email">Email</label>
        <input name="txt_email" type="text" maxlength="255" id="txt_email" class="wq-input-field wq-input-required">
        <span id="WebQuoteControl_requiredfieldvalidator1" style="display:none;"></span>
      </div>
      <div class="phone field">
        <label for="txt_phone">Phone</label>
        <input name="txt_phone" type="text" maxlength="255" id="txt_phone" class="wq-input-field">
        <span id="WebQuoteControl_requiredfieldvalidator2" style="display:none;"></span>
      </div>
      <div id="WebQuoteControl_dvMRFields" class="wq-box"></div>
      <span class="trigger"><input type="submit" value="Next ►" class="pusher"></span>
      <span class="validation"></span>
    </div>
  </div>
</div>

