<ul class="social">
  <li><a class="fi-social-facebook" href="https://www.facebook.com/<%= facebookUser %>/" target="_blank"></a></li>
  <li><a class="fi-social-twitter" href="https://www.twitter.com/<%= twitterUser %>/" target="_blank"></a></li>
  <li><a class="fi-social-linkedin" href="https://www.linkedin.com/company/<%=linkedinUser %>/" target="_blank"></a></li>
  <li><a class="fi-social-google-plus" href="https://plus.google.com/<%= googlePlusUser %>/" target="_blank"></a></li>
</ul>
