.c-card {
  $card--color: $primary-color;
  @extend %text-center;

  &__link {
    background-color: $card--color;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-bottom: 1em;
    overflow: hidden;
    padding-top: 173px;
    width: 90%;

    @media #{$small-only} { margin: 1em auto .25em; }

    @media #{$medium-up} {
      background-position: 50% 0;
      background-size: auto 190px;
      display: inline-block;
      max-width: 183px;
    }

    &:hover {
      .c-card__wrap {
        background-color: darken($card--color, 10%);
      }
    }

  }

  &__wrap {
    background-color: $card--color;
    display: block;
    transition-duration: .5s;
  }

  &__name {
    color: $white;
    font-size: rem-calc(27);
    margin-top: .5em;
    min-height: 102px;
    padding-top: .25em;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2;

    @media #{$small-only} { font-size: rem-calc(33); }
    @media #{$medium-only} { @media #{$portrait} { font-size: rem-calc(22); } }
  }

  .c-button {
    @extend %button--small;
    @extend %button--tiny\@md;
    background-color: $white;
    color: $card--color;
    font-weight: bold;

    &,
    &:hover,
    &:focus {
      background-color: $white;
      color: $card--color;
    }
  }
}

