<div class="u-row">
  <div id="AsidePane" class="o-aside-pane DNNEmptyPane" role="complementary">
  </div>

  <div id="ContentPane" class="o-content-pane">

    <div class="o-office">
      <div class="o-office__info columns">
        <h3 class="o-office__headline-city">Bobcaygeon</h3>
        <p><span class="o-office__street">79 Bolton Street </span>
          <span class="o-office__city">Bobcaygeon</span>, <span class="o-office__province">Ontario </span>
          <span class="o-office__postal">K0M 1A0</span> <span class="o-office__maplink">(<a href="https://maps.google.com/?q=79+Bolton+Street,+Bobcaygeon,+Ontario,+K0M+1A0">View Map</a>)</span><br>
          <span class="o-office__phone">Phone: <strong>705-738-6000</strong></span><br>
          <span class="o-office__toll">Toll-Free <strong>1-800-811-5841</strong></span><br>
          <span class="o-office__fax">Fax <strong>705-324-7776</strong></span><br>
          <span class="o-office__hours">Monday - Friday 8:30am - 5:30pm</span>
        </p>
      </div>
      <div class="o-office__map">
        <p><a href="https://maps.google.com/maps?q=79+Bolton+Street,+Bobcaygeon,+Ontario,+K0M+1A0"><img src="//maps.googleapis.com/maps/api/staticmap?zoom=13&amp;size=310x160&amp;maptype=roadmap&amp;&amp;sensor=false&amp;markers=79+Bolton+Street+Bobcaygeon,+Ontario,+K0M+1A0\" alt="Static Map image of Bobcaygeon Office Address"></a></p>
      </div>
    </div>

    <div class="o-team">
      <h4 class="o-team__headline">Team</h4>

      <div class="o-member">
        <div class="o-member__avatar small-12 medium-3 columns" style="margin-bottom:30px">
          <img src="http://placehold.it/300" alt="Ken Nicholls" style="max-width:200px;">
        </div>
        <div class="o-member__info small-12 medium-9 columns">
          <h4 class="o-member__name">Ken Nicholls <span class="o-member__subtitle">Vice President</span></h4>
          <p class="o-member__title">R.I.B. (ON), C.I.P., C.A.I.B.</p>
          <p class="o-member__bio">Ken is unassuming by nature, but is respected for his ‘common sense’ leadership. Born and raised in Lindsay, Ken joined Stewart Morrison Insurance Brokers in 1989, obtaining his Registered Insurance Brokers license that year.</p>
          <ul class="o-member__profiles">
            <li class="o-member__email"><a class="button small" href="mailto:ken@stewartmorrison.ca">Email</a></li>
            <li class="o-member__phone">Phone: <a class="o-member__tel" href="tel:705-324-6681">705-324-6681</a></li>
          </ul>
        </div>
      </div>

      <div class="o-member">
        <div class="o-member__avatar small-12 medium-3 columns" style="margin-bottom:30px">
          <img src="http://placehold.it/300" alt="Ken Nicholls" style="max-width:200px;">
        </div>
        <div class="o-member__info small-12 medium-9 columns">
          <h4 class="o-member__name">Ken Nicholls <span class="o-member__subtitle">Vice President</span></h4>
          <p class="o-member__title">R.I.B. (ON), C.I.P., C.A.I.B.</p>
          <p class="o-member__bio">Ken is unassuming by nature, but is respected for his ‘common sense’ leadership. Born and raised in Lindsay, Ken joined Stewart Morrison Insurance Brokers in 1989, obtaining his Registered Insurance Brokers license that year.</p>
          <ul class="o-member__profiles">
            <li class="o-member__email"><a class="button small" href="mailto:ken@stewartmorrison.ca">Email</a></li>
            <li class="o-member__phone">Phone: <a class="o-member__tel" href="tel:705-324-6681">705-324-6681</a></li>
          </ul>
        </div>
      </div>

      <div class="o-member">
        <div class="o-member__avatar small-12 medium-3 columns" style="margin-bottom:30px">
          <img src="http://placehold.it/300" alt="Ken Nicholls" style="max-width:200px;">
        </div>
        <div class="o-member__info small-12 medium-9 columns">
          <h4 class="o-member__name">Ken Nicholls <span class="o-member__subtitle">Vice President</span></h4>
          <p class="o-member__title">R.I.B. (ON), C.I.P., C.A.I.B.</p>
          <p class="o-member__bio">Ken is unassuming by nature, but is respected for his ‘common sense’ leadership. Born and raised in Lindsay, Ken joined Stewart Morrison Insurance Brokers in 1989, obtaining his Registered Insurance Brokers license that year.</p>
          <ul class="o-member__profiles">
            <li class="o-member__email"><a class="button small" href="mailto:ken@stewartmorrison.ca">Email</a></li>
            <li class="o-member__phone">Phone: <a class="o-member__tel" href="tel:705-324-6681">705-324-6681</a></li>
          </ul>
        </div>
      </div>

      <div class="o-member">
        <div class="o-member__avatar small-12 medium-3 columns" style="margin-bottom:30px">
          <img src="http://placehold.it/300" alt="Ken Nicholls" style="max-width:200px;">
        </div>
        <div class="o-member__info small-12 medium-9 columns">
          <h4 class="o-member__name">Ken Nicholls <span class="o-member__subtitle">Vice President</span></h4>
          <p class="o-member__title">R.I.B. (ON), C.I.P., C.A.I.B.</p>
          <p class="o-member__bio">Ken is unassuming by nature, but is respected for his ‘common sense’ leadership. Born and raised in Lindsay, Ken joined Stewart Morrison Insurance Brokers in 1989, obtaining his Registered Insurance Brokers license that year.</p>
          <ul class="o-member__profiles">
            <li class="o-member__email"><a class="button small" href="mailto:ken@stewartmorrison.ca">Email</a></li>
            <li class="o-member__phone">Phone: <a class="o-member__tel" href="tel:705-324-6681">705-324-6681</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>
