<div id="TopPane" class="o-top-pane">
  <%- partial("components/quickquote/_quickquote", { quoteTitle: description }) %>
  <%- partial("components/slider/_slider") %>
</div>
<div class="u-row">
  <div id="AsidePane" class="o-aside-pane DNNEmptyPane" role="complementary"> </div>

  <div id="ContentPane" class="o-content-pane">
    <%- partial("partials/_niches") %>
    <h2>Let's Talk About Your Insurance</h2>

    <p><strong>At, Stewart Morrison Insurance Brokers Ltd</strong>,  we value your business, because you’re not simply another customer to us, you’re our client.  When you contact us, you will speak personally to a licensed Insurance Broker who will provide a thorough evaluation of your personal or business insurance needs. <strong>Stewart Morrison Insurance Brokers Ltd</strong>, partners with the leading insurance companies in Canada to allow us the ability to offer competitive pricing and the best coverage options. Our qualified <strong>team</strong> of insurance specialists will make recommendations for the right coverage to properly protect you in the event of a claim. We are a family owned insurance brokerage having been in operation since 1971, with our <strong>offices</strong> conveniently located throughout the Kawarthas and Durham Region. Our corporate head office is located in Lindsay, Ontario with branch offices in the communities of Port Perry, Fenelon Falls, Peterborough, Woodville and Bobcaygeon to serve you.

    <h3>Our customers love us</h3>

    <blockquote>"It's really wonderful. I would be lost without Prototype Insurance. Fantastic, I'm totally blown away by Prototype Insurance. This is unbelievable. After using Prototype Insurance my buisness skyrocketed!"
    <cite>Ravil H.</cite></blockquote>
  </div>
</div>
<div id="BottomPane" class="o-bottom-pane">
  <div class="o-companies">
    <h3>Trusted by</h3>
    <div class="u-row o-companies__slider js-companies__slider">
      <div><img src="/images/carriers/aviva.jpg" alt="Aviva"></div>
      <div><img src="/images/carriers/intact.jpg" alt="Intact"></div>
      <div><img src="/images/carriers/travelers.jpg" alt="Travelers"></div>
      <div><img src="/images/carriers/commonwell.jpg" alt="Commonwell"></div>
      <div><img src="/images/carriers/encon.jpg" alt="Encon"></div>
      <div><img src="/images/carriers/novex.jpg" alt="Novex"></div>
      <div><img src="/images/carriers/wawanesa.jpg" alt="Wawanesa"></div>
      <div><img src="/images/carriers/westerngeneral.jpg" alt="Western General"></div>
      <div><img src="/images/carriers/eccl.jpg" alt="Ecclesiastical"></div>
      <div><img src="/images/carriers/marine.jpg" alt="Premier Marine"></div>
      <div><img src="/images/carriers/sportscan.jpg" alt="Sports-Can"></div>
      <div><img src="/images/carriers/pal.jpg" alt="Pal Insurance Brokers"></div>
      <div><img src="/images/carriers/canam.jpg" alt="CanAm"></div>
      <div><img src="/images/carriers/eiu.jpg" alt="Equine Insurance Underwriters"></div>
      <div><img src="/images/carriers/jevco.jpg" alt="Jevco"></div>
      <div><img src="/images/carriers/bii.jpg" alt="b i and i"></div>
      <div><img src="/images/carriers/simmlands.jpg" alt="Simmlands"></div>
      <div><img src="/images/carriers/tic.jpg" alt="nc travel insurance"></div>
      <div><img src="/images/carriers/guarantee.jpg" alt="The Guarantee"></div>
      <div><img src="/images/carriers/optimum.jpg" alt="Optimum Insurance Company Inc."></div>
    </div>
  </div>
</div>
