<div class="u-row">
  <div id="AsidePane" class="o-aside-pane DNNEmptyPane-off" role="complementary">
    <%- partial("../partials/_quote") %>
  </div>

  <div id="ContentPane" class="o-content-pane">
    <h2>Accident Avoidance is Not Promised to You</h2>

    <p>If you have heard the shrieks of crashing metal, the screech of slammed on brakes or experienced the injury or fatality of anyone because of an auto accident, you know it is grim. And when you&rsquo;re alone, unprotected and uncertain, it is even worse.</p>

    <p>That's when you are the most vulnerable. Because if you are not protected, your life as you know it, could disappear. Get value protection <em>before</em> an accident by calling us.</p>

    <h2>A Protective Shield</h2>

    <p>Think of your <a href="#">auto</a> insurance as a shield. The shied protects you and your assets in case of loss, injury or damage. It consists of the following protections:</p>

    <ul>
    <li><strong><a href="#">Liability</a></strong> - in case you are found at fault</li>
    <li><strong>Collision</strong> - in the event of your car is damaged by a collision</li>
    <li><strong>Comprehensive</strong> - if your car is damaged by anything other than collision</li>
    </ul>

    <p>Other protection includes:</p>

    <ul>
    <li>Medical Payments if you have to pay on an injury for yourself or a passenger</li>
    <li>Emergency Road service if you are ever stranded in your vehicle</li>
    <li>Uninsured Motorist Protection. Just because the law says auto insurance is mandatory, doesn't mean that everyone will have it.</li>
    </ul>

    <p>We will show you all of your protection options, recommend the right limits and make sure you are receiving all of the discounts you are entitled to.</p>

    <h2>You can trust us</h2>

    <p>Protection is meaningless after the accident. And think of it. We are all one mishap away from devastating personal and financial loss.</p>

    <p>We have protected the residents and business of city since year. We know the area. We know the residents. We know how to protect you with the right <a href="#">car insurance</a>.</p>

    <p>Avoiding accidents is not promised to you or anyone else. So, don't delay. Be prepared for life's misfortunes. Complete the Protection Savings Form now and let the professionals at company forge a shield of protection over you.</p>

    <p>For best protection we recommend <a href="#">Company Name</a>.</p>
  </div>
</div>
