// Quote Form
.quotrr {
  border: grey 1px solid;
  padding: 1em;

  .locator,
  .surveyor {
    @extend %row;
  }

  .pusher {
    @extend %button;
    @extend %button--success;
    @extend %button--expand;
    border-radius: 6px;
    color: $black;
    text-transform: uppercase;
  }

  .field { @extend %small-12; }

  body & {
    .firstName,
    .lastName,
    .city,
    .state {
      @extend %small-6;
      @extend %medium-12;
    }

    .address { @extend %small-9; }

    .addressAdv {
      @extend %small-3;
      position: relative;
      top: 21px;
    }
  }

  .state select{
    height: auto !important;
  }

}
