.o-banner {
  background-color: $white;
  border-bottom: 1px solid $grey;

  .u-row {
    padding: 10px 0;
    @media #{$medium-up} { padding: 15px 0; }
  }
}

.o-brand {
  @extend %small-7;
  @extend %medium-6;
  @extend %medium-text-left;
  @extend %text-center;
  overflow: hidden;
  user-select: none;

  img {
    height: 74px;
    @media #{$small-only} {
      height: auto;
      min-width: 172px;
      padding: 9px 0;
    }
    @media #{$medium-up} { height: 63px; }
  }
}
