.o-top-pane {
  position: relative;
  overflow: hidden;
  min-height: 84vh;
  @media #{$small-only} {
    height: 290px;
  }
  @media #{$medium-up} {
    min-height: 0;
  }
}

.o-content-pane {
  @extend %small-12;
  @extend %medium-8;
  @extend %medium-pull-4;
  min-height: 25em;
}

.o-aside-pane {
  @extend %small-12;
  @extend %medium-4;
  @extend %medium-push-8;;
  @media #{$medium-up} { padding-left: 20px; }

  &.DNNEmptyPane + .o-content-pane {
    @extend %medium-12;
    right: 0; // reset pull
    border-right: 0;
  }
}

.o-feature {
  $o-feature--padding: 130px;
  @extend %t-panel;
  padding-bottom: $o-feature--padding;
  padding-top: $o-feature--padding;

  &-wrap {
    min-height: 320px;
    background-position: 50% 35%;
    background-size: cover;
  }
}

.o-niches {

  &__list {
    @extend %small-block-grid-1;
    @extend %medium-block-grid-5;
    @extend %large-block-grid-5;
  }
}

