<% function randHex() {
  out = Math.floor(Math.random()*16777215).toString(16);
  return out;
} %>

<div class="c-slider js-slider u-hidden@print">
  <div><img src="images/classic-car_000018357694.jpg" alt="Classic Car"></div>
  <div><img src="images/auto_000015122619.jpg" alt="Auto"></div>
  <div><img src="images/home_000014471914.jpg" alt="Home"></div>
  <div><img src="images/lifestyle_000008545106.jpg" alt="Lifestyle"></div>
  <div><img src="images/business_000019184084.jpg" alt="Business"></div>
  <div><img src="images/farm_000017391831.jpg" alt="Farm"></div>
  <!-- <div><img src="http://placehold.it/1201x590/<%- randHex() %>/ffffff" alt="Placeholder Image"></div> -->
</div>
